<h1>ログイン</h1>
<%= form_with(scope: :session, model: @user, url: login_path, local: true) do |f| %>
  <div>
    <%= f.label "ユーザー名", style: "display: block"%>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label "パスワード", style: "display: block"%>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "ログイン", class: "btn btn-primary float-start mt-2" %>
  </div><br />
<% end %>
