<h1>ログイン</h1>
<%= form_with(scope: :session, model: @user, url: login_path, local: true, id: "sessionForm") do |f| %>

  <div class="mb-3 col-8">
    <%= icon("person-circle") %> <%= f.label "アカウント名", for: "sessionName", class: "form-label fw-bold" %>
    <%= f.text_field :name, class: "form-control", id: "sessionName", placeholder: "アカウント名を入力してください"%>
  </div>

  <div class="mb-4 col-8">
    <%= icon("key-fill") %> <%= f.label "パスワード", for: "userPassword", class: "form-label fw-bold" %>
    <%= f.password_field :password, class: "form-control", id: "sessionPassword", placeholder: "パスワードを入力してください"%>
  </div>

  <div class="mb-3">
    <%= f.submit "ログイン", class: "btn__basic__m btn__green" %>
  </div>
  <div class="mb-5">
    <%= link_to "キャンセル", host_user_path, class: "btn__basic__m" %>
  </div>

<% end %>
