<%= form_with(model: user, local: true, class: "row", id: "userForm") do |f| %>

  <div class="mb-3 col-8 <%= user.errors.include?(:name) ? "validation_errors" : "" %>">
    <%= icon("person-circle") %> <%= f.label "アカウント名(半角英数字)", for: "userName", class: "form-label required" %>
    <%= f.text_field :name, class: "form-control", id: "userName", placeholder: "アカウント名を入力してください" %>
    <%= render 'layouts/error_messages',class: "invalid-feedback", obj: user, key: :name %>
  </div>

  <div class="mb-3 col-8 <%= user.errors.include?(:password) ? "validation_errors" : "" %>">
    <%= icon("key-fill") %> <%= f.label "パスワード", for: "userPassword", class: "form-label required" %>
    <%= f.password_field :password, class: "form-control", id: "userPassword", placeholder: "パスワードを入力してください" %>
    <%= render 'layouts/error_messages',class: "invalid-feedback", obj: user, key: :password %>
  </div>

  <div class="mb-4 col-8 <%= user.errors.include?(:name) ? "validation_errors" : "" %>">
    <%= icon("key-fill") %> <%= f.label "パスワード(確認用)", for: "userPasswordConfirmation", class: "form-label required" %>
    <%= f.password_field :password_confirmation, class: "form-control", id: "userPasswordConfirmation", placeholder: "パスワードをもう一度入力してください" %>
    <%= render 'layouts/error_messages',class: "invalid-feedback", obj: user, key: :password_confirmation %>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn__basic__m btn__green" %>
  </div>
  <div class="mb-5">
    <%= link_to "キャンセル", (user.new_record? ? host_user_path : current_user), class: "btn__basic__m" %>
  </div>
<% end %>
