<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, style: "display: block" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary mt-2" %>
  </div>
<% end %>
