<%= turbo_frame_tag @item do %>
  <%= form_with(model: [@post, @item], local: true, id: "itemForm") do |f| %>

    <div class="mb-3 <%= @item.errors.include?(:name) ? "validation_errors" : "" %>">
      <%= icon("pencil-fill") %> <%= f.label "景品名", for: "postName", class: "form-label required" %>
      <%= f.text_field :name, class: "form-control", id: "itemName" %>
      <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @item, key: :name %>
    </div>

    <div class="form-check mb-3">
      <%= f.check_box :lose, class: "form-check-input", id: "itemLoseCheck" ,as: :boolean %>
      <%= f.label "ハズレを設定する", class: "form-check-label", for: "itemLoseCheck" %>
      </label>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <%= f.submit class: "btn__basic__m btn__green" %>
      </div>
      <div class="col-6">
        <%= link_to "キャンセル", @item.new_record? ? @post : post_item_path(@item.post_id, @item.id), class: "btn__basic__m" %>
      </div>
    </div>
  <% end %>

  <script>
    var itemNameInput = document.querySelector("#itemName");
    var itemLoseCheckBox = document.querySelector("#itemLoseCheck");

    itemLoseCheckBox.addEventListener("change", function(){
      if(this.checked === true){
        itemNameInput.value = "ハズレ";
      }else{
        itemNameInput.value = "";
      }
    });

    itemNameInput.addEventListener("input", function(){
      if(this.value === "ハズレ"){
        itemLoseCheckBox.checked = true;
      }else{
        itemLoseCheckBox.checked = false;
      }
    });
  </script>
<% end %>
