<div class="no_print mb-3">
  <%= link_to icon_with_text("box-arrow-in-left", "アイテム一覧に戻る"), @post %>
</div>
<div class="no_print text-center">
  <a href="javascript:void(0)" class="btn__basic__l btn__green d-block mb-3" onclick="window.print();return false;"><%= icon_with_text("qr-code", "QRコードを印刷する") %></a>
  <p class="fw-bold text-danger">※倍率など細かな調整は印刷ダイアログにて行ってください。</p>
</div>

<% @post.items.each do |item| %>
  <div class="d-inline-block text-center" style="border: 1px solid #ccc">
    <%#= image_tag qrcode_tag post_item_path(item.post_id, item.id) %>
    <div class="p-3">
      <%= qrcode post_item_path(item.post_id, item.id), 4 %>
    </div>
    <p class="px-2" style="font-size: 0.8em"><%= item.id %></p>
  </div>
<% end %>

<!--
<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-1 mt-3">
  <% @post.items.each do |item| %>
    <div class="d-inline">
      <%#= image_tag qrcode_tag post_item_path(item.post_id, item.id) %>
      <p style="font-size: 0.8em"><%= item.id %></p>
    </div>

    <div class="page col mb-5">
      <div class="p-3 border text-center">
        <%#= qrcode post_item_path(item.post_id, item.id), 100 %>
        <%#= image_tag qrcode_tag post_item_path(item.post_id, item.id) %>
        <p style="font-size: 0.8em"><%#= item.id %></p>
      </div>
    </div>
  <% end %>
</div>
-->
