<div class="mb-3">
  <h2><%= @post.title %></h2>
</div>
  <% @post.items.each do |item| %>
  <div class="mb-3">
    <ul>
      <%#= link_to item.name, edit_post_item_path(item.post_id, item.id) %>
      <li><%= link_to item.name, post_item_path(item.post_id, item.id) %></li>
    </ul>
  </div>
<% end %>

<div class="mb-3">
>> <%= link_to "アイテムを追加する", new_post_item_path(@post) %>
</div>

<div class="mb-5">
>> <%= link_to "無効化をリセットする", activation_reset_path(@post) %>
</div>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
