<div class="mb-3">
  <%= link_to icon_with_text("box-arrow-in-left", "イベント一覧に戻る"), current_user, class: "" %>
</div>

<div class="mb-3">
  <h2><%= @post.title %></h2>
</div>


<!-- 検索フォーム -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "検索条件") %>
  </div>

  <div class="card-body">
    <%= search_form_for @search,
          url: post_path(@post),
          html: {
            data: {
              turbo_frame: "item-list",
              controller: "form",
              action: "input->form#submit"
               }
          } do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%= f.label :item_number_start, "番号", class: "form-label fw-bold" %>
          <%= f.search_field :item_number_start, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :name_cont, "景品名", class: "form-label fw-bold" %>
          <%= f.search_field :name_cont, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :item_state_eq, "在庫", class: "form-label fw-bold" %>
          <%= f.select :item_state_eq, [['あり ◯', "exist" ], ['なし x', "taken"]],
 {include_blank: '選択なし'} ,class: 'form-select' %>
        </div>
      </div>
      <div class="">
        <%= link_to "リセット", post_path(@post), class: "btn btn-outline-secondary d-block" %>
      </div>
    <% end %>
  </div>
</div>


<!-- アイテム一覧 -->
<div class="card shadow mt-3 mb-5">
  <div class="card-header">
    <%= icon_with_text("table", "景品一覧") %>
    (累計: <span id="item-total-count" class="fw-bold text-danger"><%= @post.items.count %></span>, ハズレ数: <span id="item-lose-count" class="fw-bold text-danger"><%= @post.items.where(lose: true).count %></span>)
  </div>

  <div class="card-body mx-3">

    <%= link_to icon_with_text("plus-circle", "景品を追加"),
                    new_post_item_path(@post),
                    class: "btn__basic__m btn__green mb-3 mt-1",
                    data: { turbo_frame: "new_item" }
    %>
    <%= turbo_frame_tag "new_item" %>

    <%= turbo_frame_tag "item-list" do %>
      <div class="row py-2">
        <div class="col-3 mt-auto fw-bold">
          No.
        </div>
        <div class="col-6 mt-auto fw-bold">
          <%= sort_link(@search, :name, "景品名", hide_indicator: true) %>
        </div>
        <div class="col-3 mt-auto fw-bold">
          <%= sort_link(@search, :item_got_user, "在庫", hide_indicator: true) %>
        </div>
        <hr class="mt-2">
      </div>
      <%# アイテム一覧を表示(turbo_stream) %>
      <div id="items">
        <%= render @items %>
      </div>
      <!--  <% @items.each_with_index do |item, index| %>
          <%# 「ハズレ」を非表示にする --%>
          <% if !item.lose? %>
            <%#-- No. --%>
            <div class="col-2 mt-auto">
              <%= index + 1 %>
              <%#= item.lose? ? icon("dash-lg") : item.id %>
            </div>
            <%#-- アイテム名 --%>
            <div class="col-7 mt-auto">
              <%= link_to item.name, post_item_path(item.post_id, item.id) %>
              <%#= link_to item.name, post_item_path(item.post_id, item.id, activation_id: item.activation_id) %>
            </div>
            <%#-- 在庫 --%>
            <div class="col-3 mt-auto">
              <% if item.item_got_user.nil? && !item.lose? %>
                <span class="text-success fw-bold"><%= icon("circle") %></span>
              <% elsif item.lose? %>
                <span class="fw-bold"><%= icon("dash-lg") %></span>
              <% else %>
                <span class="text-danger fw-bold"><%= icon("x") %></span>
              <% end %>
            </div>
            <hr class="mt-2" style="border: 1px solid #ccc">
          <% end %>
        <% end %> -->
      <div class="d-flex justify-content-end mt-3">
        <%= paginate @items %>
      </div>
    <% end %>
  </div>
</div>

<div class="mb-3 text-center">
  <%= link_to icon_with_text("qr-code", "QRコードを表示・印刷する"), show_qrcodes_post_path(@post), class: "btn__basic__l btn__w80 btn__green" %>
</div>

<div class="mb-5 text-center">
  <a class="btn__basic__l btn__w80" href="#" data-bs-toggle="modal" data-bs-target="#itemReset">景品の在庫をリセットする</a>
  <%#= link_to "アイテムの在庫をリセットする", activation_reset_post_path(@post), class: "btn__basic__l" %>
</div>


<!-- Modal -->
<div class="modal fade" id="itemReset" tabindex="-1" aria-labelledby="itemResetLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemResetLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当にリセットしますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <%= link_to "リセット", activation_reset_post_path(@post), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
